*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none  
}
.top,.main,.main2,.main4,.ft{
    margin: 0 auto;
    width: 100%;
}
.top1,.main1,.main2-1,.main3,.main4-1,.ft1{
    margin: 0 auto;
    width: 1318px;
}
/* 导航 */
.top{
    height: 100px;
    background: #1f8bb6;
    overflow: hidden;
}
.top1{
    margin: 0 auto;
    width: 1318px;
    height: 100px;
}
.logo{
    float: left;
    margin-top: 24.5px;
}
.nav{
    float: right;
}
.nav li{
    float: left;
}
.nav li a{
    line-height: 99px;
    color: #ffffff;
    padding: 0 35px;
    display: inline-block;
}
.nav li:hover a{
    font-size: 18px;/*添加*/
    transform: scale(1,1);/*添加*/
    transition: 0.5s;/*添加*/
    color: #fdd700;
    border-bottom: 1px solid #fdd700;
}
/* 以下banner部分 */
.banner .banner1{
    margin: 0 auto;
    width: 1921px;
    height: 800px;/*改*/
}
.banner1{
    width: 1921px;
    height: 800px;
}
/* 以下main1部分 */
.main1{
    height: 1155px;
    overflow: hidden;/* 改*/
}
.main1 .main-1{
    margin: 0 auto;
    width: 1318px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 66px;
}
.main1 .main-1 dt{
    font-size: 29px;
    color: #1b89b7;
}
.main1 .main-1 dd{
    font-size: 20px;
    color: #e44937;
}
.main1 .main-2 dt{
    font-size: 28.83px;
    color: #0e2a51;
    margin-top: 70px;
} 
.main1 .main-2 dd{
    font-size: 17px;
    color: #535556;
    margin-top: 27px;
    line-height: 39px;
}
.main1 .main-2 a{
    display: inline-block;
    float: right;
    font-size: 19px;
    text-align: center;
    width: 125px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    background: #3b5982;
    border-radius: 5px;
    margin-right: 85px;
    margin-top: 60px;
}
/* 以下main2部分 */
.main2{
    height: 1000px;
    overflow: hidden;/* 改*/
    background: #173967;
}
.main2 .main2-2{
    margin: 0 auto;
    width: 1318px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 66px;
}
.main2 .main2-2 dt{
    font-size: 29px;
    color: #1b89b7;
}
.main2 .main2-2 dd{
    font-size: 20px;
    color: #e44937;
}
.main2 .main2-3{
    margin: 0 auto;
    width: 1318px;
}
.main2-3 .main-r{
    display: block;
    float: left;
    width: 268px;
    height: 499px;
    padding: 20px;
    background: #ffffff;
    margin-left: 20px;
}
.main2-3 .main-l dt{
    font: 23px Arial,"微软雅黑";
    margin-top: 5px;
}
.main2-3 .main-l dd{
    font-size: 16px;
    color: #5d5c5c;
    margin-top: 10px;
}
.main2-3 .main-l dd p{
    line-height: 25px;
}
/* 以下main3部分 */
.main3{
    height: 1270px;
    overflow: hidden;/* 改*/
}
.main3 .main2-2{
    margin: 0 auto;
    width: 1318px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 66px;
}
.main3 .main2-2 dt{
    font-size: 29px;
    color: #1b89b7;
}
.main3 .main2-2 dd{
    font-size: 20px;
    color: #e44937;
}

.main-ww a img{
    transition: 0.3s;
}
.main-ww a img:hover{
    width: 438px;
    height: 442px;
}

/* 以下main4部分 */
.main4{
    height: 753px;
    background: #173967;
    overflow: hidden;
}
.main4 .main-1{
    margin: 0 auto;
    width: 1318px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 66px;
}
.main4 .main-1 dt{
    font-size: 29px;
    color: #0086b7;
}
.main4 .main-1 dd{
    font-size: 20px;
    color: #e44937;
}
.main4 .main-2 img{
    float: left;
}
.main4 .main-2 p{
    display: block;
    width: 600px;
    font-size: 16px;
    float: right;
    color: #ffffff;
    line-height: 58px;
    margin-top: 73px;
    margin-right: 23px;

}
/* 尾部 */
.ft{
    background: #152e50; 
    overflow: hidden;
}
.ft1{
    height: 258px;
    background: #152e50;
}
.ft2{
    height: 150px;
}
.ft li{
    margin-top: 66px;
    float: left;
    color: #ffffff;
}
.ft li a{
    color: #ffffff;
    font-size: 18px;
    padding: 0 22px;
}
.ft li:first-child a{
    padding-left: 0;
}
.ft p{
    color: #ffffff;
    font-size: 14.32px;
    line-height: 25px;
}
.ft img{
    margin-top: -110px;
    float: right;
    margin-left: 20px;
}
